In [1]:
#importing the required modules
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Small adjustments to default style of plots, making sure it's readable and colorblind-friendly everywhere
plt.style.use('seaborn-colorblind')
plt.rcParams.update({'font.size' : 12.5,
                     'figure.figsize':(25,7)})

# 1. Import data

In [3]:
#Define the path for folder containing data
#TO BE MODIFIED ACCORDING HIS OWN FOLER containing data in local 
#Jules:
path = r'/Users/jules/kDrive/onedrive/Documents_Onedrive/EPFL/MA3/ADA/Project/Dataset/'
df_metadata = pd.read_parquet(path+'speaker_attributes.parquet')
#df_metadata.head()

#### Using the provided csv file to link qids with meaningful names

In [4]:
df_lookup = pd.read_csv('wikidata_labels_descriptions_quotebank.csv.bz2',compression = 'bz2',index_col='QID')

In [53]:
df_speakers = pd.read_json(path+'Speakers_aggregation.json.bz2',compression = 'bz2',lines = True)

In [44]:
df_speakers.head()

,label,qid_unique,0,1,quotes_number,fraction,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,candidacy,type,religion
0,Barack Obama,Q76,1008,359,1367,0.262619,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]"
1,Bernie Sanders,Q359442,723,268,991,0.270434,[Bernard Sanders],[+1941-09-08T00:00:00Z],[Q30],[Q6581097],1392561607,[Q7325],S000033,"[Q82955, Q1930187, Q154549, Q1622272, Q36180, ...","[Q6542163, Q29552, Q327591, Q327591, Q29552]",[Q1765120],Q359442,None,item,[Q9268]
2,Francis,Q450675,641,271,912,0.297149,"[Jorge Mario Bergoglio, Francisco, Pope Franci...",[+1936-12-17T00:00:00Z],"[Q237, Q414]",[Q6581097],1396054797,[Q1056744],None,"[Q63173086, Q593644, Q104050302, Q36180, Q1234...",None,[Q1233889],Q450675,None,item,[Q9592]
3,Hillary Clinton,Q6294,645,245,890,0.275281,"[Hillary Rodham Clinton, Hillary Rodham, Hilla...",[+1947-10-26T00:00:00Z],[Q30],[Q6581072],1393846565,None,C001041,"[Q82955, Q40348, Q193391, Q36180, Q18814623, Q...","[Q29552, Q29468]","[Q163727, Q1540185]",Q6294,"[Q699872, Q4791768]",item,[Q33203]
4,Andrew Cuomo,Q11673,476,182,658,0.276596,[Andrew Mark Cuomo],[+1957-12-06T00:00:00Z],[Q30],[Q6581097],1393197828,[Q974693],None,"[Q40348, Q82955]",[Q29552],[Q1540185],Q11673,"[Q22023432, Q65047185]",item,[Q1841]

In [13]:
df_lookup.loc[df_lookup['Label']=='speaker']

             Label                                        Description
QID
Q28503751  speaker             person capable of verbal communication
Q1758037   speaker  presiding officer of a deliberative assembly, ...

In [17]:
df_lookup.loc[df_lookup.index=='Q82955']

             Label                                        Description
QID
Q82955  politician  person involved in politics, person who holds ...

In [18]:
df_lookup.loc[df_lookup.index=='Q40348']

         Label                                        Description
QID
Q40348  lawyer  legal professional who helps clients and repre...

In [25]:
ex_list = df_speakers['occupation'].iloc[1]
ex_list

TypeError: 'in <string>' requires string as left operand, not list

## 2. Retrieve all politicians

In [58]:
#drop NaNs in occupation
df_speakers.dropna(axis=0,inplace=True,subset=['occupation'])
#df_speakers.head()

pol_cond = df_speakers['occupation'].apply(lambda x : any(item in 'Q82955' for item in x))
df_speakers.loc[pol_cond]

,label,qid_unique,0,1,quotes_number,fraction,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,candidacy,type,religion
0,Barack Obama,Q76,1008,359,1367,0.262619,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]"
1,Bernie Sanders,Q359442,723,268,991,0.270434,[Bernard Sanders],[+1941-09-08T00:00:00Z],[Q30],[Q6581097],1392561607,[Q7325],S000033,"[Q82955, Q1930187, Q154549, Q1622272, Q36180, ...","[Q6542163, Q29552, Q327591, Q327591, Q29552]",[Q1765120],Q359442,None,item,[Q9268]
3,Hillary Clinton,Q6294,645,245,890,0.275281,"[Hillary Rodham Clinton, Hillary Rodham, Hilla...",[+1947-10-26T00:00:00Z],[Q30],[Q6581072],1393846565,None,C001041,"[Q82955, Q40348, Q193391, Q36180, Q18814623, Q...","[Q29552, Q29468]","[Q163727, Q1540185]",Q6294,"[Q699872, Q4791768]",item,[Q33203]
4,Andrew Cuomo,Q11673,476,182,658,0.276596,[Andrew Mark Cuomo],[+1957-12-06T00:00:00Z],[Q30],[Q6581097],1393197828,[Q974693],None,"[Q40348, Q82955]",[Q29552],[Q1540185],Q11673,"[Q22023432, Q65047185]",item,[Q1841]
5,Benjamin Netanyahu,Q43723,398,163,561,0.290553,"[Binyamin Netanyahu, Bibi, Bibi Netanyahu, Ben...",[+1949-10-21T00:00:00Z],[Q801],[Q6581097],1391756559,[Q7325],None,"[Q82955, Q193391, Q372436, Q47064, Q15958642, ...",[Q187009],"[Q787674, Q950900]",Q43723,"[Q2917048, Q2480394, Q2689039]",item,[Q9268]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107354,Lucia Žitňanská,Q3090972,0,1,1,1.000000,[Lucia Zitnanska],[+1964-06-03T00:00:00Z],[Q214],[Q6581072],1394016134,None,None,"[Q82955, Q40348]",[Q837296],None,Q3090972,None,item,None
107385,Frank Habineza,Q3082639,0,1,1,1.000000,None,[+1977-02-22T00:00:00Z],[Q1037],[Q6581097],1360756260,None,None,[Q82955],[Q3366824],None,Q3082639,[Q21923567],item,None
107386,Jean-Michel Baylet,Q3082745,0,1,1,1.000000,None,[+1946-11-17T00:00:00Z],[Q142],[Q6581097],1388626886,None,None,"[Q1930187, Q82955, Q2961975, Q1420621, Q2824523]",[Q427965],None,Q3082745,"[Q28525864, Q3403154]",item,None
107391,François Bausch,Q3083923,1,0,1,0.000000,None,[+1956-10-16T00:00:00Z],[Q32],[Q6581097],1322103995,None,None,"[Q82955, Q7063944]",[Q767761],None,Q3083923,None,item,None
107392,Abdoulie Bojang,Q308425,0,1,1,1.000000,None,[+1960-02-17T00:00:00Z],[Q1005],[Q6581097],1312608148,None,None,[Q82955],[Q2143319],None,Q308425,None,item,None

In [55]:
df_speakers['occupation'].isna().sum()
#df_speakers['occupation'].isna()

0

In [52]:
df_speakers.sample(20)

AttributeError: 'NoneType' object has no attribute 'sample'

In [29]:
df_speakers['occupation'].isin(['Q82955'])

0         False
1         False
2         False
3         False
4         False
          ...
107408    False
107409    False
107410    False
107411    False
107412    False
Name: occupation, Length: 107413, dtype: bool

In [59]:
#Retrieve all french politicians